<!DOCTYPE html>
<html ng-app="gmc" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Good Morning Carson</title>
	<script src="lib/jquery-2.1.4.js" type="text/javascript"></script>
	<script src="lib/angular.min.js" type="text/javascript"></script>
	<script src="lib/scripts.js" type="text/javascript"></script>
</head>
	<body>

		<h1><%=header%></h1>

		<div id="clock"></div>

		<poem-data></poem-data>



		<div ng-controller="WeatherController as weatherData" class="weather">
			<p>{{weatherData.weather.conditions}}</p>
		</div>

		<div ng-controller="CuteController as cuteData" class="cute">
			<img ng-src="{{cuteData.cute.url}}"/>
		</div>

		<script>
			$(document).ready(function(){
				// getPoem();
				// getWeather();
				// getHistory();
				// getCute();
				// getRedditLinks();
				// getNYTLinks()
				setInterval('updateClock()', 1000);
			});
		</script>

		<script type="text/ng-template" id="poem-data.html">
			<div class="poem">
				<h2 class="author">{{poemData.poem.title}}</h2>
				<h3 class="title">{{poemData.poem.author}}</h3>
				<div class="lines">
					<p ng-repeat="line in poemData.poem.lines" class="line">
						{{line}}
					</p>
				</div>
			</div>
		</script>

	</body>
</html>

