doctype html
html
	head
		title!= title
		script(type="text/javascript", src="lib/jquery-2.1.4.js")
		script(type="text/javascript", src="lib/scripts.js")
		script.
			$(document).ready(function(){
				getPoem();
			});
	body
		h1!= message
		.poem
			h2.author
			h3.title
			.lines
