doctype html
html
	head
		title!= title
		script(type="text/javascript", src="lib/jquery-2.1.4.js")
		script(type="text/javascript", src="lib/scripts.js")
		script.
			$(document).ready(function(){
				// getPoem();
				getWeather();
				getHistory();
				setInterval('updateClock()', 1000);
			});
	body
		h1!= message
		#clock
		.poem
			h2.author
			h3.title
			.lines
		.content
