<!DOCTYPE html>
<html ng-app="gmc" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Good Morning Carson</title>
	<script src="lib/jquery-2.1.4.js" type="text/javascript"></script>
	<script src="lib/angular.min.js" type="text/javascript"></script>
	<script src="lib/scripts.js" type="text/javascript"></script>
</head>
	<body>

		<h1><%=header%></h1>

		<div id="clock"></div>

		<poem-data></poem-data>

		<cute-data></cute-data>

		<history-data></history-data>

		<reddit-data></reddit-data>

		<div ng-controller="WeatherController as weatherData" class="weather">
			<p>{{weatherData.weather.conditions}}</p>
		</div>



		<script>
			$(document).ready(function(){
				// getWeather();
				// getRedditLinks();
				// getNYTLinks()
				setInterval('updateClock()', 1000);
			});
		</script>

		<script type="text/ng-template" id="poem-data.html">
			<div class="poem">
				<h2 class="author">{{poemData.poem.title}}</h2>
				<h3 class="title">{{poemData.poem.author}}</h3>
				<div class="lines">
					<p ng-repeat="line in poemData.poem.lines track by $index" class="line">
						{{line}}
					</p>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="cute.html">
			<div class="cute">
				<img ng-src="{{cuteData.cute.cuteUrl}}"/>
			</div>
		</script>

		<script type="text/ng-template" id="history-data.html">
			<div class="history">
				<h2>On this date in: {{historyData.history.year}}</h2>
				<p>{{historyData.history.text}}</p>
			</div>
		</script>

		<script type="text/ng-template" id="reddit-data.html">
			<div class="reddit">
				<div ng-repeat="post in redditData.reddit" class="reddit-article">
					{{post.data.author}}
					{{post.data.title}}
					{{post.data.url}}
				</div>
			</div>
		</script>

	</body>
</html>

