<h1>{{header}}</h1>

<h2 class="section">{{sectionTitle}}</h2>

	<div id="clock"></div>

	<div class="poem">

		<h2 class="author"></h2>
		<h3 class="title"></h3>
		<div class="lines"></div>
	</div>

	<div class="content"></div>


	<script>
		$(document).ready(function(){
			getPoem();
			getWeather();
			getHistory();
			getCute();
			getRedditLinks();
			getNYTLinks()
			setInterval('updateClock()', 1000);
		});
	</script>