<!DOCTYPE html>
<html ng-app="gmc" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Good Morning Carson</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="stylesheet" type="text/css" href="clouds.css">
		<script src="lib/jquery-2.1.4.js" type="text/javascript"></script>
		<script src="lib/angular.min.js" type="text/javascript"></script>
		<script src="lib/scripts.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
	</head>
	<body>

		<div id="background-wrap">
			<div class="x1">
	        <div class="cloud"></div>
	    </div>

	    <div class="x2">
	        <div class="cloud"></div>
	    </div>

	    <div class="x3">
	        <div class="cloud"></div>
	    </div>

	    <div class="x4">
	        <div class="cloud"></div>
	    </div>

	    <div class="x5">
	        <div class="cloud"></div>
	    </div>
	  </div>

		<div class="main-content">
			<div class="header-content">
				<div class="bubble">
					<h1><%=header%></h1>
				</div>
				<div class="loading">
					<img src="/images/spinner.gif"/>
				</div>
				<img class="mascot" src="/images/yeti.png">
			</div>

			<div id="clock"></div>



			<div id="tabs" ng-controller="TabsCtrl">
			 	<h3 class="tab-buttons">
	        <div class="tab-button" ng-repeat="tab in tabs" 
	        	ng-click="onClickTab(tab)">{{tab.title}}
	        </div>
	      </h3>

				<div id="main-view">
					<div ng-include="currentTab">
					</div>
				</div>
			</div>
			
			<div ng-show="dataBank">
				<cute-data></cute-data>
				<history-data></history-data>
				<reddit-data></reddit-data>
				<nytimes-data></nytimes-data>
				<weather-data></weather-data>
				<poem-data></poem-data>
			</div>
		</div>
		
		<div class="footer">
			<p>2015 &copy; GoodMorningCarson | All Rights Reserved </p>
		</div>

		<script type="text/ng-template" id="poem-data.html">
			<div class="poem">
				<h2 class="author">{{poemData.poem.title}}</h2>
				<h3 class="title">{{poemData.poem.author}}</h3>
				<div class="lines">
					<p ng-repeat="line in poemData.poem.lines track by $index" class="line">
						{{line}}
					</p>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="cute.html">
			<div class="cute">
				<img id="cute-image" ng-src="{{cuteData.cute.cuteUrl}}"/>
				<h3>LOOK AT IT&apos;S WIDDLE FACE!!</h3>
			</div>
		</script>

		<script type="text/ng-template" id="history-data.html">
			<div class="history">
				<h2>On this date in: {{historyData.history.year}}</h2>
				<p>{{historyData.history.text}}</p>
			</div>
		</script>

		<script type="text/ng-template" id="reddit-data.html">
			<div class="reddit">
				<h3 class="reddit-title"> Right now, the Internet cares about: </h3>
				<div ng-repeat="post in redditData.reddit" class="article">
					<p>{{post.data.title}}</p>
					<a href="{{post.data.url}}"><img src="/images/reddit-alien.png"></a>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="nytimes-data.html">
			<div class="nytimes">
				<h3> The New York Times wants you to think about:</h3>
				<div ng-repeat="article in nytimesData.nytimes" class="article">
				<p>{{article[0].title}}</p>
				<a href="{{article[0].url}}"><img src="/images/nyt-logo.png"></a>
			</div>
		</script>

		<script type="text/ng-template" id="weather-data.html">
			<div class="weather">
				<h2> Today&apos;s Weather:</h2>
				<div class="current">
					<p><span class="weather-title"> Current Temp:</span> {{weatherData.weather.currentWeather.temp_f}}&deg</p>
					<p><span class="weather-title"> Feels like:</span> {{weatherData.weather.currentWeather.feelslike_f}}&deg</p>
					<div class="weather-conditions">
						<img ng-src="{{weatherData.weather.currentWeather.icon_url}}"/>
						<p><span class="weather-title">Current Conditions:</span> {{weatherData.weather.currentWeather.weather}}</p>
					</div>
				</div>
				<div class="forecast">
					<p><span class="weather-title">High:</span> {{weatherData.weather.forecast.simpleforecast.forecastday[0].high.fahrenheit}}&deg</p>
					<p><span class="weather-title">Low:</span> {{weatherData.weather.forecast.simpleforecast.forecastday[0].low.fahrenheit}}&deg</p>
					<p><span class="weather-title">Conditions:</span> {{weatherData.weather.forecast.simpleforecast.forecastday[0].conditions}}&deg</p>
					<img ng-src="{{weatherData.weather.forecast.txt_forecast.forecastday[0].icon_url}}"/>
					<p><span class="weather-title">Description:</span> {{weatherData.weather.forecast.txt_forecast.forecastday[0].fcttext}}</p>
				</div>
			</div>
		</script>

		<script type="text/jsx">
		var TimerExample = React.createClass({
			getInitialState: function(){
				return { elapsed: 0 };
			},

			componentDidMount: function(){
				this.timer = setInterval(this.tick, 50);
			},

			componentWillUnmount: function(){
				clearInterval(this.timer);
			},

			tick: function(){
				this.setState({elapsed: new Date() + this.props.start});
			},

			render: function(){
				var currentTime = new Date()

				var currentHours = currentTime.getHours();
			  var currentMinutes = currentTime.getMinutes();
			  var currentSeconds = currentTime.getSeconds();

			  currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
			  currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

				var clock = currentTime.getHours() + ":" + currentMinutes + ":" + currentSeconds

				return (
					<p>{clock}</p>
				);
			}
		});

		React.render(
			<TimerExample start={Date.now()} />,
			$("#clock")[0]
		);

		</script>


	</body>
</html>

