<!DOCTYPE html>
<html ng-app="gmc" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Good Morning Carson</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link rel="stylesheet" type="text/css" href="clouds.css">
		<script src="lib/jquery-2.1.4.js" type="text/javascript"></script>
		<script src="lib/angular.min.js" type="text/javascript"></script>
		<script src="lib/scripts.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="background-wrap">
			<div class="x1">
	        <div class="cloud"></div>
	    </div>

	    <div class="x2">
	        <div class="cloud"></div>
	    </div>

	    <div class="x3">
	        <div class="cloud"></div>
	    </div>

	    <div class="x4">
	        <div class="cloud"></div>
	    </div>

	    <div class="x5">
	        <div class="cloud"></div>
	    </div>
	  </div>

		<div class="main-content">
			<div class="bubble">
				<h1><%=header%></h1>
			</div>
			<img class="mascot" src="/images/yeti.png">

			<div id="clock"></div>
			<div class="loading"> Loading </div>



			<div id="tabs" ng-controller="TabsCtrl">
			 	<ul>
	        <div class="tab-button" ng-repeat="tab in tabs" 
	        	ng-click="onClickTab(tab)">{{tab.title}}</div>
	      </ul>

				<div id="main-view">
					<div ng-include="currentTab">
					</div>
				</div>
			</div>
			
			<div ng-show="dataBank">
				<cute-data></cute-data>
				<history-data></history-data>
				<reddit-data></reddit-data>
				<nytimes-data></nytimes-data>
				<weather-data></weather-data>
				<poem-data></poem-data>
			</div>
		</div>

		<script>
			$(document).ready(function(){
				setInterval('updateClock()', 1000);
			});
		</script>

		<script type="text/ng-template" id="poem-data.html">
			<div class="poem">
				<h2 class="author">{{poemData.poem.title}}</h2>
				<h3 class="title">{{poemData.poem.author}}</h3>
				<div class="lines">
					<p ng-repeat="line in poemData.poem.lines track by $index" class="line">
						{{line}}
					</p>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="cute.html">
			<div class="cute">
				<img ng-src="{{cuteData.cute.cuteUrl}}"/>
			</div>
		</script>

		<script type="text/ng-template" id="history-data.html">
			<div class="history">
				<h2>On this date in: {{historyData.history.year}}</h2>
				<p>{{historyData.history.text}}</p>
			</div>
		</script>

		<script type="text/ng-template" id="reddit-data.html">
			<div class="reddit">
				<div ng-repeat="post in redditData.reddit" class="reddit-post">
					<p>{{post.data.title}}</p>
					<a href="{{post.data.url}}"><img src="/images/reddit-alien.png"></a>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="nytimes-data.html">
			<div class="nytimes">
				<div ng-repeat="article in nytimesData.nytimes" class="nytimes-article">
				<p>{{article[0].title}}</p>
				<a href="{{article[0].url}}">NY Times Link</a>
			</div>
		</script>

		<script type="text/ng-template" id="weather-data.html">
			<div class="weather">
				<div class="current">
					<p>Current Temp: {{weatherData.weather.currentWeather.temp_f}}&deg</p>
					<p>Feels like: {{weatherData.weather.currentWeather.feelslike_f}}&deg</p>
					<div class="weather-conditions">
						<img ng-src="{{weatherData.weather.currentWeather.icon_url}}"/>
						<p>Current Conditions: {{weatherData.weather.currentWeather.weather}}</p>
					</div>
				</div>
				<div class="forecast">
					<p>High: {{weatherData.weather.forecast.simpleforecast.forecastday[0].high.fahrenheit}}&deg</p>
					<p>Low: {{weatherData.weather.forecast.simpleforecast.forecastday[0].low.fahrenheit}}&deg</p>
					<p>Conditions: {{weatherData.weather.forecast.simpleforecast.forecastday[0].conditions}}&deg</p>
					<img ng-src="{{weatherData.weather.forecast.txt_forecast.forecastday[0].icon_url}}"/>
					<p>Description: {{weatherData.weather.forecast.txt_forecast.forecastday[0].fcttext}}</p>
				</div>
			</div>
		</script>


	</body>
</html>

